html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #B4E4FF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 64px;
}

.header p {
    font-family: 'Gloock', serif;
    font-size: 48px;
}

#newBook {
    font-size: 32px;
    font-weight: bold;
    background-color: #DFFFD8;
    border-radius: 8px;
    border-width: 0px;
    padding: 8px;
}

#cards {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
}

.card {
    width: 100%;
    height: 256px;
    background-color: #B4E4FF;
    font-size: 24px;
    border-radius: 8px;
    border-width: 0px;
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.card p {
    margin: 0px;
}


#input-form {
    position: absolute;
    margin-top: 12%;
    display: none;
    flex-direction: column;
    gap: 24px;
    background-color: #DFFFD8;
    padding: 16px;
    border-radius: 8px;
    border-width: 0;
}

.remove-button {
    font-size: 24px;
    font-weight: bold;
    background-color: #F7C8E0;
    padding: 8px;
    border-radius: 8px;
    border-width: 0px;
}

.read-button {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    border-width: 0px;
}