html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #F7C8E0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header p {
    font-family: 'Gloock', serif;
    font-size: 48px;
}

#addBook {
    position: absolute;
    right: 288px;
    font-family: 'Roboto', sans-serif;
    background-color: #DFFFD8;
    height: 48px;
    width: 96px;
    border-radius: 8px;
    border-width: 0px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-right: 256px;
    margin-left: 256px;
}

.card {
    height: 256px;
    width: 144px;
    background-color: #DFFFD8;
    align-self: center;
    justify-self: center;
}

form {
    display: none;
}